### Ignore all Files
*~
/*
### Ignore files from MAC
.DS_Store
.idea
### Ignore sass cache and node modules
.sass-cache
node_modules/

### Except markdown files.
!*.md
### Except git ignore file
!/.gitignore

### Except composer
!composer.json
!composer.lock

### Except BB pipelines
!bitbucket-pipelines.yml

### Except "wp-content"
!/wp-content

### Ignore plugins
wp-content/plugins/*
